.root {
  /* -fx-base: rgb(3, 43, 52); */
}

.label {
  -fx-font-size: 0.9em;
  -fx-padding: 5px;
}

/* prompt */

.prompt .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #0096c9;
    -fx-text-fill: white;
}

/* help */

body.dc-help {
  font-family: sans-serif;
  font-size: 0.9em;
  background-color: #fffed7; /* or maybe #f7e9ba */
  padding: .3em .8em;
}

.dc-help .param-name {
  font-family: "Monaco", monospace;
  font-weight: bold;
}

.dc-help h1.function-name {
  font-family: "Monaco", monospace;
  font-weight: bold;
  font-size: 1.3em;
}

.dc-help .function-name {
  font-family: "Monaco", monospace;
  font-weight: bold;
  font-size: 0.8em;
}

.dc-help a {
  color: #807f6c;
  border-bottom: 1px dashed;
  text-decoration: none;
}

.dc-help a:hover {
  background-color: lightgreen;
}

.dc-help h2 {
  font-style: italic;
  font-size: 1.1em;
}

.dc-help .keymap {
  font-size: 0.8em;
  padding: .3em .8em;
  color: #807f6c;
}

.dc-help .keymap-name {
  font-family: "Monaco", monospace;
}

.dc-help .pre {
  font-family: "Monaco", monospace;
}

.dc-help .key-press {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: .3em .5em;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
  margin: .4em .2em;
	font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  font-size: 0.8em;
}

.dc-help .resolve-param-dispatch {
  font-family: "Monaco", monospace;
  font-size: 0.8em;
  color: #807f6c;
}
