body {
  color: #c27dd9;
  background-color: #072b34;
  font-family: "Monaco", "Consolas", Monospace;
  font-size: 8pt;
  padding: 0px;
  margin: 0px;
  /* overflow: hidden; */
}

::selection {
  background: #a0a0a0;
}

::-moz-selection {
  background: #a0a0a0;
}

.h-split {
  display: grid;
  grid-template-columns: auto auto;
}

.v-split {
  display: grid;
  grid-template-rows: repeat(2, 50vmin);
}

.pane {
  border-style: solid;
  border-width: 0.1px;
  border-color: 353535;
  overflow: scroll;
  flex-direction: row;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  z-index: 2;
  cursor: pointer;
}

.modal {
  background:#e1e1e1;
  margin: 0 auto;
  width: 160px;
  position: relative;
  z-index: 41;
  top: 25%;
  padding: 30px;
  font-size: 14pt;
}

/* https://gist.github.com/devinrhode2/2573411 */

::-webkit-scrollbar {
  width: 15px;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(128, 128, 128, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.5);
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
  min-height: 30px;
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61);
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
  min-height: 30px;
  -webkit-border-radius: 100px;
}
